* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  /* list-style-type: none; */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 30px;
}

.food_recipes {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.food_recipes h3 {
  font-size: 25px;
}
.food_recipes ul {
  display: flex;
  flex-direction: column;
  gap: 7px;
  font-size: 19px;
}
.food_recipes ul li a {
  text-decoration: none;
  color: black;
}
